<div class="btn-con" *ngIf="!islogin">
  <div class="admin-btn" (click)="Adminac()"></div>
</div>

  <div class="alert-con" *ngIf="success || error">
    <div class="alert" id="alert" [ngClass]="success ? 'success' : 'error'">{{success || error}}</div>
  </div>

  <div class="container">

    <h1 class="head">{{islogin ? "Login":"Signup"}}</h1>
    
    
<!-- ///////////////////////////////Signupform/////////////////////////// -->

<form class="example-form" *ngIf="!islogin" [formGroup]="signupform" (ngSubmit)="signup(signupform)">
    <mat-form-field class="example-full-width">
      <mat-label>Enter your Name</mat-label>
      <input matInput type="name" placeholder="Ex. Rohan" formControlName="Name">
      <label class="err" *ngIf="f.Name.invalid && f.Name.touched">Please enter your name</label>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Enter your email</mat-label>
        <input matInput type="email" placeholder="Ex. urmail@mail.com" formControlName="Email">
        <label class="err" *ngIf="f.Email.invalid && f.Email.touched">Please enter valid email</label>
      </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Enter your Phone number</mat-label>
      <input matInput type="tel" placeholder="Ex. 9999999999" formControlName="Phone">
      <label class="err" *ngIf="f.Phone.invalid && f.Phone.touched">Please enter valid phonenumber</label>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Enter your password</mat-label>
        <input matInput type="password" formControlName="Password">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Confirm your password</mat-label>
        <input matInput type="password" #cpass>
        <label class="err" *ngIf="(f.Password.value !== cpass.value) && f.Password.touched && cpass.value">Password doesn't match</label>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Select gender</mat-label>
        <mat-select formControlName="Gender">
          <mat-option>None</mat-option>
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
        <label class="err" *ngIf="f.Gender.invalid && f.Gender.touched">Please select gender</label>
    </mat-form-field>

    <mat-form-field class="example-full-width" >
      <mat-label>Enter your address</mat-label>
      <textarea matInput formControlName="Address"></textarea>
      <label class="err" *ngIf="f.Address.invalid && f.Address.touched">Please enter address</label>
    </mat-form-field>


    <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">{{islogin ? "Login":"Signup"}}</button> &nbsp; | &nbsp;
    {{islogin ? "Dont have account?":"Already have account?"}}
    <a class="blue" (click)="switch()">{{!islogin ? "Login":"Signup"}}</a>
    <p class="small">*To register as admin square is the key 4times</p>
</form>



<!-- ///////////////////////////////[--Loginform--]/////////////////////////// -->

<form class="example-form" *ngIf="islogin" (ngSubmit)="Login(loginform)" [formGroup]="loginform">

    <mat-form-field class="example-full-width">
        <mat-label>Enter your email</mat-label>
        <input matInput type="email" placeholder="Ex. urmail@mail.com" formControlName="Email">
      </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Enter your password</mat-label>
        <input matInput type="password" formControlName="Password">
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid" >{{islogin ? "Login":"Signup"}}</button> &nbsp; | &nbsp;
    {{islogin ? "Dont have account?":"Already have account?"}}
    <a class="blue" (click)="switch()">{{islogin ? "Signup":"Login"}}</a>
</form>
</div>

  